<!-- filepath: /d:/Maestría/smartfarming/templates/index.html -->
{% extends "base.html" %}

{% block title %}Inicio - Smart Farming{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/index.css">
<div class="container-title">
    <h1 class="main-title">SMART FARMING</h1>
</div>
<div class="main-text">
    <p>El sistema que te ayuda a medir variables criticas para tu actividad agrícola o pecuaria</p>
</div>
<div class="container-imagees">
    
        <img src="/static/images/image2.png" alt="botas">
 
       
            <img src="/static/images/image1.png" alt="prado">
   
</div>

{% endblock %}