<!-- filepath: /d:/Maestría/smartfarming/templates/luminosidad.html -->
{% extends "base.html" %}

{% block title %}Luminosidad - Smart Farming{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/luminosidad.css">
<div class="container-title">
    <h1 class="main-title">SMART FARMING</h1>
</div>
<div class="main-text">
    <p>Consulte las mediciones registradas de la luminosidad en su cultivo.</p>
</div>
<div class="query-container">
    
     <p class="query-title">Seleccione la fecha para consultar la luminosidad:</p>
     <!-- Aquí va el calendario con las fechas para seleccionar -->

    <div class="form-container">
        <div class="form-input">
       <label for="date-start">Fecha de inicio:</label>
        <input class="date-start" type="date" id="date-start" name="date-start">
        </div>
        <div class="form-input">
        <label for="date-end">Fecha de fin:</label>
        <input class="date-end" type="date" id="date-end" name="date-end">
        </div>
        <div class="button-container">
        <button id="consultar">Consultar</button>
        </div>
    </div>
</div>
    
    <!-- Aquí va el gráfico que representa las mediciones de temperatura -->
    <div>
        <canvas id="luminosidadChart"></canvas>
    </div>
   

</div>
<script src="/static/js/luminosidad.js"></script>
{% endblock %}