<!-- filepath: /d:/Maestría/smartfarming/templates/temperatura.html -->
{% extends "base.html" %}

{% block title %}Temperatura - Smart Farming{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/temperatura.css">
<div class="container-title">
    <h1 class="main-title">SMART FARMING</h1>
</div>
<div class="main-text">
    <p>Consulte las mediciones registradas de la temperatura en su cultivo.</p>
</div>
<div class="query-container">
    
     <p class="query-title">Seleccione la fecha para consultar la temperatura:</p>
     <!-- Aquí va el calendario con las fechas para seleccionar -->

    <div class="form-container">
    
    <div class="form-input">
        <label for="date-start">Fecha de inicio:</label>
        <input type="date" id="date-start">
    </div>
    <div class="form-input">
        <label for="date-end">Fecha de fin:</label>
        <input type="date" id="date-end">
    </div>
        
        <div class="button-container">
        <button id="consultar">Consultar</button>
        </div>
    </div>
</div>
    
    <!-- Aquí va el gráfico que representa las mediciones de temperatura -->
    <div class="chart-container">
        <canvas id="grafica1"></canvas>
        <div class="button-container2 ">
        <button id="exportar1" class="hidden">Decargar mediciones<i class="fas fa-file-download"></i> </button>
        </div>
    </div>
    <div class="chart-container">
        <canvas id="grafica2"></canvas>
        <div class="button-container2 ">
        <button id="exportar2" class="hidden">Decargar mediciones<i class="fas fa-file-download"></i>  </button>
        </div>
    </div>
   

</div>
<script src="/static/js/temperatura.js"></script>
{% endblock %}